/* 
    Created on : 22.04.2015, 08:20:42
    Author     : work
Sass Partial: _variables
*/

/** Define a Placeholders 
-but makes more sense with more rules than one*/
%centered {
    text-align: center;
}

$color-blue: #444444;


