/* 
    Created on : 03.06.2014, 07:18:21
    Author     : work*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.04.2015, 08:18:26
    Author     : work
*/
/* 
    Created on : 22.04.2015, 08:20:42
    Author     : work
Sass Partial: _variables
*/
/** Define a Placeholders 
-but makes more sense with more rules than one*/
.main-heading, .branding {
  text-align: center; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.my-icons-sprite, .my-icons-tv, .my-icons-twitter, .my-icons-twitter2, .my-icons-twitter3 {
  background-image: url('images/my-icons-s0f34f3eef1.png');
  background-repeat: no-repeat; }

.my-icons-tv {
  background-position: 0 0; }

.my-icons-twitter {
  background-position: 0 -32px; }

.my-icons-twitter2 {
  background-position: 0 -64px; }

.my-icons-twitter3 {
  background-position: 0 -96px; }

/**Using the name of the parent selector as a STRING**/
.main {
  /**CSS: .main-heading*/ }
.main-heading {
  color: #444444; }

/** Usage of Placeholders*/
.branding {
  font-family: Arial; }

/*****   Nesting:     avoid showing selectors multiple times ******/
section.entry {
  width: 80%;
  height: 100px; }
section.entry > h1 {
  color: #369;
  padding: 2em; }
section.entry > p {
  font-family: Georgia;
  padding: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px; }
section.entry th, section.entry td {
  height: 32px;
  padding-left: 6em;
  border: 1px solid #ccc; }

/*in the rare cases when javascript is disabled*/
.no-js h1 {
  color: black; }
.no-js p {
  color: red; }
