/*@YM*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: Helvetica;
	font-size: 98%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
        
}


:focus {/* remember to define focus styles! */
	outline: 1px;
}


/**p{
    text-shadow: 1px 1px 2px #999;
    padding-left: 1em;
}*/
ol, ul {
	list-style: none;
}

table {/* tables still need 'cellspacing="0"' in the markup */
        border-collapse: collapse;
        border-spacing: 0;
        margin: 2em 0;       
}

caption, th, td {
	font-weight: normal;
        /*font-size:92%;*/
	text-align: center;
        }
        
th,td{
    /**border: 1px solid gray;*/  
    width: auto;
    min-width: 4em;
    padding: 0em 1em;
    height: 5em;
}

td{
    vertical-align: middle;
    
}

 td:nth-child(3), td:nth-child(4), td:nth-child(5){
    width:1em;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #f5f5f5;
}


@media(max-width:640px){
    
    #matches svg{
        display:  none;
    }
    
    td:nth-child(3), td:nth-child(5){
    display: none;
    
}
    td{
    font-size: 59%;
    padding: 0 0.3em;
}

}
@media all and(orientation: portrait){
    /*portrait styles*/
}

